body {
  font-family: "poppins", sans-serif;
  overflow-x: hidden;
  height: 2000px;
}

/* navbar */

.container {
  display: flex;
  background-color: #fff;
  justify-content: space-around;
  height: 80px;
  color: rgb(14, 14, 85);
  align-items: center;
  
}

.selamat-datang{
  background-color: #fff;
  z-index:888;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 28px;
  padding:30px 0px 30px 0px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 900;
  letter-spacing:10px;
  color: #009BA6;
}

#container.show {
  top: -70px;
  box-shadow: 0 5px 5px #d8d8d8ba;
  transition: 0.4s ease-in-out;
}
#header {
  position: sticky;
  position: -webkit-sticky;
  top: 0px;
  transition: top 4s ease-out;
}

nav ul {
  display: flex;
  width: 40%;
  list-style: none;
  justify-content: space-evenly;
}

nav ul li a {
  color: #009BA6;
  text-decoration: none;
  font-size: 1em;
  font-weight: 500;
  letter-spacing: 0.7px;
  font-family: "poppins";
}
nav .logo {
  font-family: "Courier Prime", monospace;
  font-weight: bold;
  font-size: 2em;
}

nav img {
  width: 100px;


}

.menu-toggle {
  display: flex;
  flex-direction: column;
  height: 20px;
  justify-content: space-between;
  display: none;
  position: relative;
}

.menu-toggle input {
  position: absolute;
  width: 40px;
  height: 30px;
  top: -5px;
  left: -6px;
  opacity: 0;
  z-index: 5;
  cursor: pointer;
}
.menu-toggle span {
  display: block;
  width: 28px;
  height: 4px;
  background-color: rgb(14, 14, 85);
  border-radius: 3px;
  transition: all 0.5s;
}

/* hamburger menu aniation */

.menu-toggle span:nth-child(2) {
  /* background-color: red; */
  transform-origin: 0 0;
}
.menu-toggle span:last-child {
  /* background-color: yellow; */
  transform-origin: 0 100%;
}

.menu-toggle input:checked ~ span:nth-child(2) {
  transform: rotate(45deg) translate(-1px, -1.5px);
  background-color: rgba(14, 14, 85, 0.8);
}
.menu-toggle input:checked ~ span:nth-child(4) {
  transform: rotate(-45deg) translate(-1px, 0px);
  background-color: rgba(14, 14, 85, 0.8);
}
.menu-toggle input:checked ~ span:nth-child(3) {
  transform: scale(0);
  opacity: 0;
}

/* resphonsive Breakpoint */
@media screen and (min-width: 1200px) {
  nav ul li {
    padding: 15px 15px;
    transition: all 0.5s ease;
  }
  nav ul:hover li {
    filter: blur(2.5px);
    box-shadow: 0px 1px 4px#b9b9b9;
    box-sizing: border-box;
  }

  nav ul li:hover {
    filter: blur(0px);
    border-radius: 10px;
    transform: scale(1.1);
  }
  nav ul:active li {
    filter: blur(0px);
    box-shadow: none;
    box-sizing: border-box;
  }

  nav ul li:active {
    filter: blur(0px);
    border-radius: 10px;
    transform: scale(1px);
  }
}
/* Ukuran Tablet */
@media screen and (max-width: 768px) {
  nav ul {
    width: 60%;
  }
  
/* Ukuran Mobile */
@media screen and (max-width: 576px) {
  nav ul {
    position: absolute;
    right: 50;
    top: 60px;
    transform: translatey(-450%);
    width: 80%;
    height: 50vh;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    justify-content: center;
    gap: 30px;
    z-index: -1;
    border-radius: 0 0 10px 15px;
    transition: all 0.3s ease-out;
    
  }

  nav ul li{
    border: 1px solid #ddd;
    width: 70%;
    padding: 10px 0px 10px 0px;
    text-align: center;
  }
  .selamat-datang{
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 900;
  }

  nav ul.slide {
    transform: translateX(0);
  }

  nav ul li a {
    font-size: 1.2em;
    font-weight: 600;
  }

  .menu-toggle {
    display: flex;
  }
}



main{
  margin: auto;
  padding-top: 50px;
}
svg .rectengle{
  fill: rgb(0, 0, 255); 
background-color: #b9b9b9; 
  stroke: rgb(0, 0, 0);
}